/* Scroll bar------------------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Edit all page--------------------------------------------------------------------------------- */
*{
    font-family: 'Josefin Sans', sans-serif;
}
/* html edit------------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}
/* Body------------------------------------------------------------------------------------------ */
body {
    max-width: 100%;
    margin: 0;
    /*font-size: 2vw;*/
    font-size: 28px;
    background-color:var(--bg-color);
    color: var(--txt-color);
}
/* Check media change nav------------------------------------------------------------------------ */
@media (min-width: 840px) {
    .deskmenu { display: block; } 
    .handmenu { display: none; } 
}

@media (max-width: 839px) {
    .deskmenu { display: none;}
    .handmenu { display: block;}
}

.th {
    font-family: 'Prompt', sans-serif;
}

i {
    font-style: normal; 
}